{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Jeux Esport</h1>
    {% for jeu in jeux %}
        {% if jeu.cover is defined %}
                <img src="{{ jeu.cover.url }}">
        {% else %}
                <img src="{{ asset('upload/error.gif') }}">
        {% endif %}
        <h2>{{ jeu.name }}</h2>
    {% endfor %}
{% endblock %}